/* ==========styles for body========= */
body {
    background-image: url("./bg.png");
    background-size: cover;
    background-position: left top;
    font-family: "Zilla Slab", serif;
}


/* ====styles for headings===== */
.hc{
   text-align: center;
   margin-top: 30px;
}
.hc a{
   text-align: center;
   font-size: 30px;
   text-decoration: none;
   border: 2px solid black;
   padding: 5px;
   border-radius: 10px;
   color: crimson;
}
/* =======styles for blog section===== */
.bc{
    margin-top: 25px;
    text-align: center;
}
.accordion{
    
}
